/* ShinyText.css */

.shiny-text {
    display: inline-flex;
  }
  
  .shiny-letter {
    display: inline-block;
    /* font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; */
    animation: shiny-effect 7s ease-in infinite;
  }
  
  @keyframes shiny-effect {
    0% {
        color: #ffffff;
        text-shadow: 0 0 5px #2c2c2c, 0 0 10px #2c2c2c, 0 0 15px #2c2c2c;
      }
    30% {
      color: #000000;
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
    }
    
    50% {
      color: #2c2c2c;
      text-shadow: 0 0 5px #c2c2c2, 0 0 10px #c2c2c2, 0 0 15px #c2c2c2;
    }
    
    70% {
      color: #ffffff;
      text-shadow: 0 0 5px #2c2c2c, 0 0 10px #2c2c2c, 0 0 15px #2c2c2c;
    }
    100% {
      color: #ffffff;
      text-shadow: 0 0 5px #2c2c2c, 0 0 10px #2c2c2c, 0 0 15px #2c2c2c;
    }
    
  }
  

  /* .Hero-name{
    text-shadow:
		2px 2px 5px rgba(255, 255, 255, 0.3),
		-2px -2px 5px rgba(255, 255, 255, 0.3),
		2px -2px 5px rgba(255, 255, 255, 0.3),
		-2px 2px 5px rgba(255, 255, 255, 0.3);
  } */
  .Hero-name{
    text-shadow:
		2px 2px 5px rgba(22, 22, 22, 0.9),
		-2px -2px 5px rgba(22, 22, 22, 0.9),
		2px -2px 5px rgba(22, 22, 22, 0.9),
		-2px 2px 5px rgba(22, 22, 22, 0.9);
  }
  .shdw{
    text-shadow:
		2px 2px 5px #919191,
		2px 4px 5px #919191,
		2px 6px 5px #919191,
		2px 8px 5px #919191;
  }

  .txt{
    position: absolute;
    top: 12%; 
    right: -50%;
    opacity: 0;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #732717;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  /* <span className="shiny-text">
        <span className="shiny-letter" style={{ animationDelay: `${0 * 0.5}s` }}>
        শ্রে
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${1 * 0.5}s` }}>
        য়
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${2 * 0.5}s` }}>
        সী
        </span>
        <span className="shiny-letter mr-10" style={{ animationDelay: `${3 * 0.5}s` }}>
        র 
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${4 * 0.5}s` }}>
        গ
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${5 * 0.5}s` }}>
        য়
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${6 * 0.5}s` }}>
        না
        </span>
        <span className="shiny-letter mr-10" style={{ animationDelay: `${7 * 0.5}s` }}>
        র 
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${8 * 0.5}s` }}>
        বা
        </span>
        <span className="shiny-letter" style={{ animationDelay: `${9 * 0.5}s` }}>
        ক্স
        </span>
    </span> */